*{
    margin: 0px;
    padding: 0px;
    border: 0px;
}
#barre {
    background-color: #1F203A;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    position : fixed;
}
body {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
}
#amorce p{
    text-align: center;
    font-size: 30pt;
}
#amorce{
    background-color: lightgray;
    padding: 20px;
    padding-top: 30px;
}
#navigation{
    text-decoration: none;
    border-radius: 5px;
    padding: 5px;
}
#navigation a{
    color: white;
    text-decoration: none;
    border: solid black 1px;
    border-radius: 5px;
    padding: 5px;
}
#navigation{
    display: flex;
    gap: 15px;
}
#barre h1{
    color: white;
}
#topimage{
    display: flex;
    justify-content: center;
    background-color: lightgray;
    padding-bottom: 300px;
}
#topimage img{
    width: 600px;
    border-radius: 10px;
}
#apropos{
    text-align: center;
    size: 30px;
    padding-bottom: 200px;
}
.star{
    width: 12px;
    height: 12px;
}
#compet{
    display: flex;
    justify-content: space-between;
    justify-content: space-around;
    padding-bottom: 20px;
}
#hautcompet{
    text-align: center;
    padding-bottom: 100px;
}
