*{
    margin: 0px;
    padding: 0px;
    border: 0px;
}
#barre {
    display: flex;
    background-color: #85929E;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    position : fixed;
    z-index: 100;
    width: 100vw;
}
body {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
}
#amorce p{
    text-align: center;
    font-size: 30pt;
}
#amorce{
    padding: 20px;
    padding-top: 70px;
}
#navigation{
    text-decoration: none;
    border-radius: 5px;
    padding: 5px;
}
#navigation a{
    color: black;
    text-decoration: none;
    border: solid black 1px;
    border-radius: 5px;
    padding: 5px;
}
#navigation{
    display: flex;
    gap: 15px;
}
#barre h1{
    color: black;
}
#topimage{
    text-align: center;
    padding-bottom: 300px;
}
#topimage img{
    width: 600px;
    border-radius: 10px;
}
#apropos{
    padding-top: 100px;
    text-align: center;
    resize: 30px;
    padding-bottom: 1000px;
}
.star{
    width: 12px;
    height: 12px;
}
#compet{
    display: flex;
    justify-content: space-between;
    justify-content: space-around;
    padding-bottom: 20px;
}
#hautcompet{
    padding-top: 100px;
    text-align: center;
    padding-bottom: 100px;
}
input {
    border: solid black 1px;
    border-radius: 3px;
}
#experiences {
    padding-top: 100px;
    display: flex;
    justify-content: center;
    padding-bottom: 1000px;
}
#formation {
    padding-top: 100px;
    text-align: center;
    padding-bottom: 1000px;
}
#contact {
    padding-top: 100px;
    display: flex;
    justify-content: center;
    padding-bottom: 300px;
}
html {
    scroll-behavior: smooth;
}